:root {
    --primary-color:  rgb(151, 146, 228);
    --secondary-color:  rgb(181, 221, 255);
    --header-color: rgb(0, 132, 253);
}

/* funzioni reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: inherit;
    color: black;
}

/* griglia */

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
}

[class*="col"] {
    padding: 1rem;
}


/* UTILS */

/* .clearfix::after {
    content: '';
    display: block;
    clear: both;
} */


/* HEADER */

header {
    background-color: var(--header-color);
    color: white;
}

header > .container {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}

header > .container > .logo,
header > .container > nav {
    padding: 25px;
    background-color: blue;
    border: 3px solid black;
}


/* sezione 5 card azzurre */

#demoapp .col {
    width: calc(100% / 3);
}

#demoapp .col:first-child {
    width: calc(100% / 3 * 2);
}

#demoapp .col:first-child .card {
    display: flex;
}

#demoapp .col:first-child .card-left,
#demoapp .col:first-child .card-right  {
    width: 50%;
}

.col {
    padding: 1rem;
}

#demoapp .card {
    background-color: var(--secondary-color);
    padding: 1rem;
    height: 100%;
}


/* sezione con sole due card */

#strategic {
    display: flex;
    background-color: var(--primary-color);
}


/* sezione 3 card viola */

#testimonial {
    text-align: center;
}

#testimonial > .container > .row {
    display: flex;
    flex-direction: column;
}

#testimonial > .container > .row > .col > .card {
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    background-color: var(--primary-color);
}


/* sezione 6 card bianche su sfondo violetto */

#benefits {
    background-color: var(--primary-color);
    text-align: center;
}

#benefits > .container > .row > .col > .card {
    display: flex;
/* da sistemare la disposizione del contenuto */
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    background-color: white;
}


/* sezione about */

#about {
    display: flex;
}

#about > .about-left,
#about > .about-right {
/* da sistemare la disposizione del contenuto */
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

#get-started {
    text-align: center;
    background-color: var(--primary-color);
}




/* sezione get started */





/* sezione footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
}






/* MEDIA QUERY TABLET*/

@media screen and (max-width: 768px) {
    #demoapp .col:first-child .card-left,
    #demoapp .col:first-child .card-right {
        width: 100%;
        /* non funziona il wrap, come mai? IL COLORE OVVIAMENTE FUNZIONA */
        flex-wrap: wrap;
        color: green;
    }

    /* nemmeno questo funziona */
    #demoapp .col:first-child {
        flex-wrap: wrap;
    }
}


/* MEDIA QUERY PHONE*/

@media screen and (max-width: 480px) {
    #demoapp .col:first-child, 
    #demoapp .col {
        width: 100%;
    }
}