:root {
    --primary-color:  rgb(151, 146, 228);
    --secondary-color:  rgb(181, 221, 255);
    --header-color: rgb(0, 132, 253);
}

/* funzioni reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: inherit;
    color: black;
}

/* griglia */

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
}

[class*="col"] {
    padding: 1rem;
}


/* UTILS */

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


/* HEADER */

header {
    background-color: var(--header-color);
    color: white;
}

header > .container {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;

}

header > .container > .logo,
header > .container > nav {
    padding: 25px;
    background-color: blue;
    border: 3px solid black;
}

#demoapp .col {
    width: calc(100% / 3);
}



#demoapp .col:first-child {
    width: calc(100% / 3 * 2);
}

#demoapp .col:first-child .card {
    display: flex;
}


.col {
    padding: 1rem;
}

#demoapp .card {
    background-color: var(--secondary-color);
    padding: 1rem;
}